.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f2937;
  padding: 0.8rem 2rem;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-box input {
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  border-radius: 30px;
  border: none;
  background: #606e815e;
  color: white;
  outline: none;
  font-size: 0.95rem;
  width: 400px;
  height: 30px;
  transition: background 0.3s;
}

.search-box input:focus {
  background: #34465ac0;
}

.search-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: #44526d15;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.search-btn:hover {
  background: #012a4256;
  
}

.search-icon {
  color: white;
  font-size: 0.9rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
  color: #ff9900;
}

.logout-btn {
  background: transparent;
  border: 1px solid #fffcfc;
  padding: 0.4rem 0.9rem;
  border-radius: 60px;
  color: #faf9fc;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.2s ease-in-out;
}

.logout-btn:hover {
  background: #ff4d4d;
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    gap: 0.8rem;
  }

  .nav-links {
    gap: 1rem;
  }

  .search-box {
    order: 3;
    width: 100%;
  }

  .search-box input {
    width: 100%;
  }
}
